{% extends '@EasyAdmin/default/edit.html.twig' %}

{% block head_stylesheets %}
    {{ parent() }}
    <style type="text/css">
        td:hover{
            cursor:move;
        }
    </style>

{% endblock head_stylesheets %}

{% block main %}
    {% block entity_form %}
        {{ form_start(form) }}
        {{ form_row(form.translations) }}

        {% if questions is not empty %}
            <p>Questions</p>
            <table id="list_categories" class="table datagrid">
                <thead>
                <tr id="titres">
                    <th>Titre</th>
                    <th>Ordre</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {% for key, question in questions %}
                    <tr>
                        <td>{{ question.title }}</td>
                        <td><input name="question[{{ question.id }}][ordering]" class="order form-control-plaintext" value="{{ question.order }}" readonly/></td>
                        <td>
                            <a class="btn btn-primary" href="{{ path('easyadmin', {entity: 'SurveyQuestion', action: 'edit', id: question.id, surveyCategoryId: surveyCategoryId, surveyId: surveyId}) }}">Editer</a>
                            <a class="btn btn-danger" href="{{ path('easyadmin', {entity: 'SurveyQuestion', action: 'deleteQuestion', id: question.id, surveyCategoryId: surveyCategoryId, surveyId: surveyId}) }}">Delete</a>
                        <td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% endif %}
        <a class="btn btn-primary" href="{{ path('easyadmin', {entity: 'SurveyQuestion', action: 'new', surveyCategoryId: surveyCategoryId, surveyId: surveyId}) }}">Ajouter une question</a>
        <a class="btn btn-primary" href="{{ path('easyadmin', {entity: 'Survey', action: 'edit', id: surveyId}) }}">Retour</a>
        {{ form_end(form) }}
    {% endblock entity_form %}
{% endblock %}

{% block body_javascript %}
    <script type="text/javascript" src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"
            integrity="sha256-eGE6blurk5sHj+rmkfsGYeKyZx3M4bG+ZlFyA7Kns7E="
            crossorigin="anonymous">
    </script>
    <script>
        $(function() {
            $("#list_categories tbody").sortable({
                update: function update(event, ui) {
                    $("#list_categories tbody tr").each(function (index) {
                        $(this).find('.order').val(index + 1);
                    });
                }
            });
        });
    </script>
{% endblock body_javascript %}
