{% extends '@EasyAdmin/default/edit.html.twig' %}

{% block head_stylesheets %}
    {{ parent() }}
    <style type="text/css">
        td:hover{
            cursor:move;
        }
    </style>

{% endblock head_stylesheets %}

{% block main %}
    {% block entity_form %}
        {{ form_start(form) }}
        {{ form_row(form.translations) }}
        {{ form_row(form.team) }}
        {{ form_row(form.direction) }}
        {{ form_row(form.mailsAlertCorrectiveAction) }}
        <br/>
        <div class="form-group" style ="padding-top: 0;">
        {% if categories is not empty %}
            <label class="form-control-label"></label>
            <div class="form-widget">
                <table id="list_categories" class="table datagrid" style="max-width:350px;">
                    <thead>
                    <tr>
                        <th>RUBRIQUE</th>
                        <th>QUESTIONS</th>
                        <th>ORDRE</th>
                        <th></th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for key, category in categories %}
                        <tr>
                            <td style="width: 40%">{{ category.title }}</td>
                            <td style="width: 25%"> <span class="badge badge-secondary">{{ category.countQuestions }}</span></td>
                            <td style="width: 20%"><input type="text" readonly name="category[{{ category.id }}][ordering]" class="order form-control-plaintext" value="{{ category.order }}"/></td>
                            <td style="padding-right: 0;">
                                <a class="btn btn-primary" style="margin-right: 0;" href="{{ path('easyadmin', {entity: 'SurveyCategory', action: 'edit', id: category.id, surveyId: surveyId}) }}">Editer</a>
                            </td>
                            {% if hasResult == false %}
                                <td style="padding-right: 0;">
                                    <a class="btn btn-danger" href="{{ path('easyadmin', {entity: 'SurveyCategory', action: 'deleteCategory', id: category.id, surveyId: surveyId}) }}">Supprimer</a>
                                </td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        {% endif %}
        </div>
        <br/>
        <a class="btn btn-primary" href="{{ path('easyadmin', {entity: 'SurveyCategory', action: 'new', surveyId: surveyId}) }}">Ajouter une rubrique</a>
        {{ form_end(form) }}
    {% endblock entity_form %}
{% endblock %}

{% block body_javascript %}
    <script type="text/javascript" src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"
            integrity="sha256-eGE6blurk5sHj+rmkfsGYeKyZx3M4bG+ZlFyA7Kns7E="
            crossorigin="anonymous"></script>
    <script>
        $(function() {
            $("#list_categories tbody").sortable({
                cursor: 'move',
                update: function update(event, ui) {
                    $("#list_categories tbody tr").each(function (index) {
                        $(this).find('.order').val(index + 1);
                    });
                }
            });
        });
    </script>
{% endblock body_javascript %}
